<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sqlPlus" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <sqlPlus>
    <add key="RunnerPath" value="C:\oracle\client\product\11.2.0\client_1\sqlplus.exe" />
  </sqlPlus>
</configuration>
